<div class="row table-header">
  <div class="col-md-12">
    <button ng-click="" type="button" class="btn btn-primary">
      <i class="fa fa-exchange"></i>&nbsp;显示锁定用户
    </button>
    <button ng-click="user.refresh()" type="button" class="btn btn-info">
      <i class="fa fa-refresh"></i>&nbsp;刷新
    </button>
    <button ng-click="user.create()" type="button" class="btn btn-success">
      <i class="fa fa-plus"></i>&nbsp;创建用户
    </button>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <table datatable="" dt-options="user.dtOptions" dt-columns="user.dtColumns"
           dt-instance="user.dtInstance" class="row-border hover">
      <tfoot>
      <tr>
        <th></th>
        <th>昵称</th>
        <th></th>
        <th>年龄</th>
        <th>身高</th>
        <th>地址</th>
        <th></th>
      </tr>
      </tfoot>
    </table>
  </div>
</div>
