

  <div class="row" style="height: 72px">

    <div class="col-md-4">
      <button ng-click="showCase.reloadData()" type="button" class="btn btn-primary">
        <i class="fa fa-refresh"></i>&nbsp;手动刷新
      </button>
      <button data-target="#myModal" data-toggle="modal" ng-click="showCase.create()" type="button" class="btn btn-primary">
        <i class="fa fa-exchange"></i>&nbsp;创建用户
      </button>
    </div>

    <alert>{{ showCase.alert.message }}</alert>

  </div>

  <div class="row">
  <div class="col-md-10">
    <table datatable="" dt-options="showCase.dtOptions" dt-columns="showCase.dtColumns"
           dt-instance="showCase.dtInstance" class="row-border hover">
      <tfoot style="margin-top: 30px">
      <tr>
        <th>ID</th>
        <th>昵称</th>
        <th>性别</th>
        <th>年龄</th>
        <th>身高</th>
        <th>地址</th>
      </tr>
      </tfoot>
    </table>
  </div>
    </div>


  <user-form/>

