

  <h1>User Create</h1>

  <form novalidate="novalidate" class="form-horizontal">

    <div class="control-group">
      <label class="control-label" for="innerId">微博ID：</label>
      <div class="controls">
        <input type="text" id="innerId" ng-model="user.innerId"/>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="userName">微博账号：</label>
      <div class="controls">
        <input type="text" id="userName" ng-model="user.userName"/>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="userBirthday">出生日期</label>
      <div class="controls">
        <input type="text" id="userBirthday" ng-model="user.userBirthday"/>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="gender">性别</label>
      <div class="controls">
        <input type="text" id="gender" ng-model="user.gender"/>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="height">身高</label>
      <div class="controls">
        <input type="text" id="height" ng-model="user.height"/>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="userLocation">城市</label>
      <div class="controls">
        <input type="text" id="userLocation" ng-model="user.userLocation"/>
      </div>
    </div>
    <br />

    <div class="control-group">
      <div class="controls">
        <!-- user-creation.html: -->
        <a ng-click="createUser()" class="btn btn-small btn-primary">创建</a>
        <a ng-click="cancel()" class="btn btn-small">取消</a>
      </div>
    </div>

  </form>

