<div ng-controller="UserCtrl as showCase">

  <div class="row" style="height: 72px">

    <div class="col-md-4">
      <button ng-click="showCase.reloadData()" type="button" class="btn btn-primary">
        <i class="fa fa-refresh"></i>&nbsp;手动刷新
      </button>
      <button data-target="#myModal" data-toggle="modal" ng-click="showCase.create()" type="button" class="btn btn-primary">
        <i class="fa fa-exchange"></i>&nbsp;创建用户
      </button>
    </div>

    <div class="col-md-4 col-md-offset-2 alert alert-dismissable" ng-class="showCase.alert">
      {{ showCase.message }}
    </div>

  </div>

  <div class="row">
  <div class="col-md-10">
    <table datatable="" dt-options="showCase.dtOptions" dt-columns="showCase.dtColumns"
           dt-instance="showCase.dtInstance" class="row-border hover">
      <tfoot style="margin-top: 30px">
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Gender</th>
        <th>Location</th>
      </tr>
      </tfoot>
    </table>
  </div>
    </div>


  <!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">

        <form role="form">

          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">{{showCase.message}}</h4>
          </div>

          <div class="modal-body">
            <div class="form-group">
              <label class="control-label" for="innerId">微博ID：</label>
              <input class="form-control" type="text" id="innerId" ng-model="showCase.user.innerId"/>
            </div>

            <div class="form-group">
              <label class="control-label" for="userName">微博账号：</label>
              <input class="form-control" type="text" id="userName" ng-model="showCase.user.userName"/>
            </div>

            <div class="form-group">
              <label class="control-label" for="userBirthday">出生日期</label>
              <input class="form-control" type="text" id="userBirthday" ng-model="showCase.user.userBirthday"/>
            </div>

            <div class="form-group">
              <label class="control-label" for="gender">性别</label>
              <input class="form-control" type="text" id="gender" ng-model="showCase.user.gender"/>
            </div>

            <div class="form-group">
              <label class="control-label" for="height">身高</label>
              <input class="form-control" type="text" id="height" ng-model="showCase.user.height"/>
            </div>

            <div class="form-group">
              <label class="control-label" for="userLocation">城市</label>
              <input class="form-control" type="text" id="userLocation" ng-model="showCase.user.userLocation"/>
            </div>
          </div>

          <div class="modal-footer">
            <button data-dismiss="modal" class="btn btn-default" type="button">取消</button>
            <button ng-click="showCase.updateUser()" data-dismiss="modal" class="btn btn-primary" type="button" ng-show="!showCase.type"><i
              class="fa fa-check"></i>&nbsp;更新</button>
            <button ng-click="showCase.createUser()" data-dismiss="modal" class="btn btn-success" type="button" ng-show="showCase.type"><i
              class="fa fa-check"></i>&nbsp;创建</button>
          </div>
        </form>
      </div>
    </div>
  </div>

</div>
