<div class="navbar-default sidebar" role="navigation">
  <div class="sidebar-nav navbar-collapse">
    <ul class="nav in" id="side-menu">
      <sidebar-search></sidebar-search>

      <li ui-sref-active="active">
        <a ui-sref="dashboard.welcome"><i class="fa fa-navicon fa-fw"></i> Welcome</a>
      </li>

      <li ui-sref-active="active">
        <a ui-sref="dashboard.user"><i class="fa fa-user fa-fw"></i> 用户管理</a>
      </li>

      <li ng-class="{active: collapseVar==1}">{{dropDown}}
        <a href="" ng-click="check(1)"><i class="fa fa-wrench fa-fw"></i>设计页面<span
          class="fa arrow"></span></a>
        <ul class="nav nav-second-level" collapse="collapseVar!=1">
          <li ui-sref-active="active">
            <a ui-sref="dashboard.panels-wells">Panels and Wells</a>
          </li>
          <li ui-sref-active="active">
            <a ui-sref="dashboard.buttons">Buttons</a>
          </li>
          <li ui-sref-active="active">
            <a ui-sref="dashboard.notifications">Notifications</a>
          </li>
          <li ui-sref-active="active">
            <a ui-sref="dashboard.typography">Typography</a>
          </li>
          <li ui-sref-active="active">
            <a ui-sref="dashboard.icons"> Icons</a>
          </li>
          <li ui-sref-active="active">
            <a ui-sref="dashboard.grid">Grid</a>
          </li>
        </ul>
        <!-- /.nav-second-level -->
      </li>

      <li ng-class="{active: collapseVar==2}">
        <a href="" ng-click="check(2)"><i class="fa fa-sitemap fa-fw"></i>参考页面<span
          class="fa arrow"></span></a>
        <ul class="nav nav-second-level" collapse="collapseVar!=2">
          <li ng-class="{active: selectedMenu=='home'}">
            <a ui-sref="dashboard.home" ng-click="selectedMenu='home'"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
          </li>
          <li ng-class="{active: selectedMenu=='forms'}">
            <a ui-sref="dashboard.forms" ng-click="selectedMenu='forms'"><i class="fa fa-edit fa-fw"></i> Forms</a>
          </li>
          <li ng-class="{active: selectedMenu=='charts'}">
            <a ui-sref="dashboard.charts" ng-click="selectedMenu='charts'"><i class="fa fa-bar-chart-o fa-fw"></i> Charts<span></span></a>
          </li>
          <li ng-class="{active: selectedMenu=='tables'}">
            <a ui-sref="dashboard.tables" ng-click="selectedMenu='tables'"><i class="fa fa-table fa-fw"></i> Tables</a>
          </li>
        </ul>
        <!-- /.nav-second-level -->
      </li>

      <li ng-class="{active:collapseVar==3}">
        <a href="" ng-click="check(3)"><i class="fa fa-files-o fa-fw"></i> 示例页面<span
          class="fa arrow"></span></a>
        <ul class="nav nav-second-level" collapse="collapseVar!=3">
          <li ng-class="{active: selectedMenu=='blank'}">
            <a ui-sref="dashboard.blank" ng-click="selectedMenu='blank'">Table Page</a>
          </li>
          <li ng-class="{active: selectedMenu=='dataTable'}">
            <a ui-sref="dashboard.dataTable" ng-click="selectedMenu='dataTable'">DataTable Page</a>
          </li>
        </ul>
        <!-- /.nav-second-level -->
      </li>

      <li><a href="http://www.strapui.com/">Premium Angular Themes</a></li>

    </ul>
  </div>
  <!-- /.sidebar-collapse -->
</div>



