<script src='/js/angular-cookies.js'></script>
<script src="/js/login.js"></script>

<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">

      <div class="login-panel panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">欢迎光临</h3>
        </div>

        <% if (errors) {%>
        <p>
          <% errors.forEach(function (error) { %>
          <em class="text-muted"><%= __(error) %></em>
          <% }) %>
        </p>
        <% } %>

        <div class="panel-body" ng-app="myApp">
          <form role="form" action="/auth/local" method="post" ng-controller="login">
            <fieldset>
              <div class="form-group">
                <input class="form-control" placeholder="用户名" name="identifier" type="text" autofocus ng-model="identifier">
              </div>{{remember}}
              <div class="form-group">
                <input class="form-control" placeholder="密码" name="password" type="password" ng-model="password">
              </div>
              <div class="checkbox">
                <label>
                  <input name="remember" type="checkbox" ng-model="remember">记住密码
                </label>
              </div>
              <!-- Change this to a button or input when using this as a form -->
              <button type="submit" class="btn btn-lg btn-success btn-block" ng-click="login()">登录</button>
            </fieldset>
          </form>
        </div>

      </div>
    </div>
  </div>
</div>

<% if (providers.length) {%>
<h4>You can also use one of these...</h4>

<% Object.keys(providers).forEach(function (key) { %>
<a href="/auth/<%= providers[key].slug %>" role="button"><%= providers[key].name %></a>
<% }) %>
<% } %>





