<div class="row">
    <div class="col-md-offset-5 col-md-3">
        <div class="form-login">
        <h4>欢迎光临</h4>
        <% if (errors) {%>
          <p>
          <% errors.forEach(function (error) { %>
            <em class="text-muted"><%= __(error) %></em>
          <% }) %>
          </p>
        <% } %>
        <form role="form" action="/auth/local/register" method="post">
            <input type="text" name="username" class="form-control input-sm chat-input" placeholder="用户名" />
            </br>
            <input type="text" name="email" class="form-control input-sm chat-input" placeholder="邮箱" />
            </br>
            <input type="password" name="password" class="form-control input-sm chat-input" placeholder="密码" />
            </br>
            <div class="wrapper">
            <span class="group-btn"><button type="submit" class="btn btn-default">注册</button></span>
            </div>
        </form>
        </div>
    </div>
</div>
