<form role="form">

  <div class="modal-header">
    <button type="button" class="close" ng-click="modal.cancel()" aria-hidden="true">&times;</button>
    <h3 class="modal-title">{{modal.alert.message}}</h3>
  </div>

  <div class="modal-body">
    <div class="form-group">
      <label class="control-label" for="weiboId">微博ID：</label>
      <input class="form-control" type="text" id="weiboId" ng-model="modal.user.weiboId"/>
    </div>

    <div class="form-group">
      <label class="control-label" for="nickname">微博账号：</label>
      <input class="form-control" type="text" id="nickname" ng-model="modal.user.nickname"/>
    </div>

    <div class="form-group">
      <label class="control-label" for="birthday">出生日期(格式：yyMMdd)
        <span ng-show="modal.user.birthday">，当前年龄为{{modal.user.birthday | age }}</span></label>

      <div class="form-group input-group">
        <input class="form-control" type="text" id="birthday" ng-model="modal.date"
               placeholder="{{modal.user.birthday | date: 'yyMMdd'}}"/>
      <span class="input-group-btn">
        <button type="button" class="btn btn-primary">
          <i class="fa fa-calendar"></i>
        </button>
      </span>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label" for="gender">性别</label>
      <select class="form-control" type="text" id="gender" ng-model="modal.user.gender"
              ng-options="o.value as o.title for o in modal.sex">
      </select>
    </div>

    <div class="form-group">
      <label class="control-label" for="height">身高</label>
      <input class="form-control" type="text" id="height" ng-model="modal.user.height"/>
    </div>

    <div class="form-group">
      <label class="control-label" for="location">城市区号<span ng-show="modal.city">，当前城市为【{{modal.city}}】</span></label>
      <input class="form-control" type="text" id="location" ng-model="modal.user.location"/>
    </div>

    <div class="form-group">
      <label class="control-label" for="description">个人描述</label>
      <textarea class="form-control" rows="3" id="description" ng-model="modal.user.description"></textarea>
    </div>

    <div class="form-group">
      <label class="control-label">照片</label>

      <div class="form-group input-group" ng-repeat="photo in modal.user.photos track by $index">

        <input disabled class="form-control" type="text" ng-model="photo"/>
        <span class="input-group-btn">
          <button type="button" class="btn btn-danger" ng-click="modal.removePhoto($index)">
            <i class="fa fa-minus"></i>
          </button>
        </span>
      </div>

      <div class="form-group input-group">
        <input class="form-control" type="text" ng-model="modal.photo"/>
        <span class="input-group-btn">
          <button type="button" class="btn btn-success" ng-click="modal.addPhoto()">
            <i class="fa fa-plus"></i>
          </button>
        </span>
      </div>

    </div>

  </div>

  <div class="modal-footer">
    <button ng-click="modal.delete(modal.user.id)" ng-hide="modal.display.newbie" data-dismiss="modal"
            class="btn btn-danger btn-delete"
            type="button">
      <i class="fa fa-trash"></i>&nbsp;删除
    </button>
    <button ng-click="modal.cancel()" class="btn btn-default" type="button">取消</button>
    <button ng-click="modal.save()" class="btn btn-primary" type="button">
      <i class="fa fa-check"></i>&nbsp;确认
    </button>
  </div>
</form>


