<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Table example</h1>
      <table id="example" class="display" cellspacing="0" width="100%">
        <thead>
        <tr>
          <th>Nick name</th>
          <th>Weibo ID</th>
        </tr>
        </thead>
        <tfoot>
        <tr>
          <th>Nick name</th>
          <th>Weibo ID</th>
        </tr>
        </tfoot>
      </table>
      <script>
        $(document).ready(function () {
          $('#example').dataTable({

            processing: true,
            serverSide: true,

            //当前版本
            /*
            ajax: {
              url: "/weibouser/list",
              type: "GET",
              data: {
                lock: false
              }
            },*/

            // 早期版本
             sAjaxSource: "/weibouser/list",

            columns: [
              {data: "nickname"},
              {data: "weiboId"}
            ]
          })
            .columnFilter({
              aoColumns: [
                {type: "text"},
                {type: "number"}
              ]
            })
        })
      </script>
    </div>
    <!-- /.col-lg-12 -->
  </div>
  <!-- /.row -->
</div>
