<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">dataTable with angular example</h1>

            <table datatable="" dt-options="dt.dtOptions" dt-columns="dt.dtColumns"
                   dt-instance="dt.dtInstance" class="row-border hover">
                <tfoot>
                <tr>
                    <th>昵称</th>
                    <th>照片地址</th>
                </tr>
                </tfoot>
            </table>

        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
</div>
