
.table-header {
  height: 72px;
}
.user-photo {
  width: 100%;
  height: auto;
}

.btn-delete {
  margin-right: 350px;
}

tfoot {
  margin-top: 30px;
}

@media (min-width: 992px) {
  .user-photos {
    min-width: 800px;
  }
}
