<div ng-app="myApp">
  <!-- Page Heading -->


  <div class="row" ng-controller="NavController as nav" style="padding: 20px 0">
    <ul class="nav nav-tabs">
      <li ng-class="{active:nav.isActive('/user')}">
        <a data-toggle="tab" href="#/user">
          <i class="fa fa-fw fa-user"></i>用户管理
        </a>
      </li>

      <li ng-class="{active:nav.isActive('/msg')}">
        <a data-toggle="tab" href="#/msg">
          <i class="fa fa-fw fa-envelope"></i>消息管理
        </a>
      </li>

      <li ng-class="{active:nav.isActive('/post')}">
        <a data-toggle="tab" href="#/post">
          <i class="fa fa-fw fa-weibo"></i>微博管理
        </a>
      </li>
    </ul>
  </div>

  <div class="row">
    <div ng-view></div>
  </div>
</div>
