<div ng-app="myApp">
    <!-- Page Heading -->


    <div class="row" ng-controller="NavCtrl" style="padding: 20px 0">
        <ul class="nav nav-tabs">
            <li ng-class="{active:isActive('/user')}">
                <a data-toggle="tab" href="#/user">
                    <i class="fa fa-fw fa-dashboard"></i>用户管理
                </a>
            </li>

            <li ng-class="{active:isActive('/msg')}">
                <a data-toggle="tab" href="#/msg">
                    <i class="fa fa-fw fa-table"></i>消息管理
                </a>
            </li>

            <li ng-class="{active:isActive('/post')}">
                <a data-toggle="tab" href="#/post">
                    <i class="fa fa-fw fa-file"></i>微博管理
                </a>
            </li>
        </ul>
    </div>

    <div class="row">
        <div ng-view></div>
    </div>
</div>
