<div class="jumbotron" style="margin-top: 50px;">
  <h1>Hello, World!</h1>
  <p>
    Help you find friends
  </p>
  <p><a class="btn btn-lg btn-success" a href="/app">Try me<span class="glyphicon glyphicon-ok"></span></a></p>
</div>
