<div class="jumbotron" style="margin-top: 50px;">
  <h1>Hello, World!</h1>
  <p>
    Help you find friends
  </p>

  <p><a class="btn btn-lg btn-success" a href="/admin">Try me<span class="fa fa-arrow-right fa-fw"></span></a></p>
</div>
