<!DOCTYPE html>
<html>

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>王婆速配</title>

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->

  <!--STYLES-->
  <link rel="stylesheet" href="/css/bootstrap.css">
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/sb-admin-2.css">
  <link rel="stylesheet" href="/css/metisMenu.css">
  <link rel="stylesheet" href="/css/loading-bar.css">
  <link rel="stylesheet" href="/css/font-awesome.css">
  <link rel="stylesheet" href="/css/jquery.dataTables.css">
  <link rel="stylesheet" href="/css/dataTables.responsive.css">
  <link rel="stylesheet" href="/css/style.css">
  <!--STYLES END-->

  <!--SCRIPTS-->
  <script src="/js/dependencies/jquery.js"></script>
  <script src="/js/dependencies/angular.js"></script>
  <script src="/js/dependencies/bootstrap.js"></script>
  <script src="/js/angular-ui-router.js"></script>
  <script src="/js/angular-resource.js"></script>
  <script src="/js/angular-cookies.js"></script>
  <script src="/js/json3.js"></script>
  <script src="/js/ocLazyLoad.js"></script>
  <script src="/js/loading-bar.js"></script>
  <script src="/js/ui-bootstrap-tpls.js"></script>
  <script src="/js/metisMenu.js"></script>
  <script src="/js/jquery.dataTables.js"></script>
  <script src="/js/dataTables.responsive.js"></script>
  <script src="/js/angular-datatables.js"></script>
  <script src="/js/jquery.dataTables.columnFilter.js"></script>
  <script src="/js/angular-datatables.columnfilter.js"></script>
  <script src="/js/sb-admin-2.js"></script>
  <script src="/scripts/app.js"></script>
  <script src="/scripts/controllers/userController.js"></script>
  <script src="/scripts/controllers/loginController.js"></script>
  <script src="/scripts/controllers/formController.js"></script>
  <script src="/scripts/directives/directives.js"></script>
  <script src="/scripts/directives/header/header.js"></script>
  <script src="/scripts/directives/header/header-notification/header-notification.js"></script>
  <script src="/scripts/directives/sidebar/sidebar.js"></script>
  <script src="/scripts/filters/filters.js"></script>
  <script src="/scripts/services/services.js"></script>
  <script src="/scripts/services/utils.js"></script>
  <script src="/scripts/services/cities.js"></script>
  <!--SCRIPTS END-->

</head>

<body>

<%- body %>

</body>

</html>
