<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>王婆速配</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <link href="css/auth/layout.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!--
        Stylesheets and Preprocessors
        ==============================

        You can always bring in CSS files manually with `<link>` tags, or asynchronously
        using a solution like AMD (RequireJS).  Or, if you like, you can take advantage
        of Sails' conventional asset pipeline (boilerplate Gruntfile).

        By default, stylesheets from your `assets/styles` folder are included
        here automatically (between STYLES and STYLES END). Both CSS (.css) and LESS (.less)
        are supported. In production, your styles will be minified and concatenated into
        a single file.

        To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
        For example, here are a few things you could do:

            + Change the order of your CSS files
            + Import stylesheets from other directories
            + Use a different or additional preprocessor, like SASS, SCSS or Stylus
    -->

    <!--STYLES-->
    <link rel="stylesheet" href="/styles/importer.css">
    <!--STYLES END-->

    <!--SCRIPTS-->
    <script src="js/dependencies/sails.io.js"></script>
    <script src="js/dependencies/angular.js"></script>
    <script src="js/dependencies/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/angular-resource.js"></script>
    <script src="js/angular-route.js"></script>
    <script src="js/angular-sails.js"></script>
    <script src="js/angular/app.js"></script>
    <script src="js/angular/controllers.js"></script>
    <script src="js/angular/directives.js"></script>
    <script src="js/angular/filters.js"></script>
    <script src="js/angular/services.js"></script>
    <script src="js/bootstrap-paginator.min.js"></script>
    <script src="js/weibouser/main.js"></script>
    <!--SCRIPTS END-->
</head>

<body>
  <div class="container">
       <%- body %>
  </div>
</body>

</html>
