<!DOCTYPE html>
<html class="no-js">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="京城约会专家，五百年江湖美名，赐你绝世好姻缘">

  <title>王婆速配</title>

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->

  <link rel="stylesheet" type="text/css" href="/stylesheet/bootstrap.min.css">


  <script src="/javascript/angular.min.js"></script>
  <script src="/js/ngFlowGrid.js"></script>

  <script src="/javascript/app.js"></script>
  <style type="text/css">
    /*------------------------*/
    .flowGrid{position: relative;padding: 0;}
    .flowGrid:before,.flowGrid:after{
      content: "";
      display: table;
    }
    .flowGrid:after{
      clear:both;
    }
    .flowGridItem{ list-style: none;}
    .flowGridItem img{width:100%;}
    .flowGridColumn{
      float: left;
      padding-left: 10px;
    }
    .flowGridColumn:last-of-type{
      padding-right: 10px;
    }

    /*---------- demo page only--------------*/
    header{
      background-color: #efefef;
      margin-bottom: 25px;
      height: 250px;
      text-align: center;

    }


  </style>

</head>

<body ng-app="flowGrid">

<%- body %>

</body>

</html>
