<!DOCTYPE html>
<html class="no-js">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>王婆速配</title>

  <!--STYLES-->
  <link rel="stylesheet" href="/css/angular-chart.css">
  <link rel="stylesheet" href="/css/angular-toggle-switch.css">
  <link rel="stylesheet" href="/css/dataTables.responsive.css">
  <link rel="stylesheet" href="/css/datatables.bootstrap.css">
  <link rel="stylesheet" href="/css/font-awesome.css">
  <link rel="stylesheet" href="/css/jquery.dataTables.css">
  <link rel="stylesheet" href="/css/loading-bar.css">
  <link rel="stylesheet" href="/css/metisMenu.css">
  <link rel="stylesheet" href="/styles/bootstrap.min.css">
  <link rel="stylesheet" href="/styles/main.css">
  <link rel="stylesheet" href="/styles/sb-admin-2.css">
  <link rel="stylesheet" href="/styles/style.css">
  <link rel="stylesheet" href="/styles/timeline.css">
  <!--STYLES END-->

</head>

<body>

<%- body %>

<!--SCRIPTS-->
<script src="/js/dependencies/jquery.js"></script>
<script src="/js/dependencies/angular.js"></script>
<script src="/js/dependencies/bootstrap.js"></script>
<script src="/js/angular-ui-router.js"></script>
<script src="/js/angular-resource.js"></script>
<script src="/js/json3.js"></script>
<script src="/js/ocLazyLoad.js"></script>
<script src="/js/loading-bar.js"></script>
<script src="/js/ui-bootstrap-tpls.js"></script>
<script src="/js/metisMenu.js"></script>
<script src="/js/Chart.js"></script>
<script src="/js/angular-chart.js"></script>
<script src="/js/jquery.dataTables.js"></script>
<script src="/js/dataTables.responsive.js"></script>
<script src="/js/angular-datatables.js"></script>
<script src="/js/angular-datatables.columnfilter.js"></script>
<script src="/lib/jquery.dataTables.columnFilter.js"></script>
<script src="/lib/sb-admin-2.js"></script>
<script src="/scripts/app.js"></script>
<script src="/scripts/controllers/chartContorller.js"></script>
<script src="/scripts/controllers/dataController.js"></script>
<script src="/scripts/controllers/formController.js"></script>
<script src="/scripts/controllers/mainController.js"></script>
<script src="/scripts/controllers/userController.js"></script>
<script src="/scripts/directives/directives.js"></script>
<script src="/scripts/directives/chat/chat.js"></script>
<script src="/scripts/directives/dashboard/stats/stats.js"></script>
<script src="/scripts/directives/header/header-notification/header-notification.js"></script>
<script src="/scripts/directives/header/header.js"></script>
<script src="/scripts/directives/notifications/notifications.js"></script>
<script src="/scripts/directives/sidebar/sidebar-search/sidebar-search.js"></script>
<script src="/scripts/directives/sidebar/sidebar.js"></script>
<script src="/scripts/directives/timeline/timeline.js"></script>
<script src="/scripts/filters/filters.js"></script>
<script src="/scripts/services/services.js"></script>
<script src="/scripts/services/cities.js"></script>
<script src="/scripts/services/utils.js"></script>
<!--SCRIPTS END-->

</body>

</html>
