<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <ng-form name="userForm">

        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="myModalLabel">{{user.alert.message}}</h4>
        </div>

        <div class="modal-body">
          <div class="form-group">
            <label class="control-label" for="weiboId">微博ID：</label>
            <input class="form-control" type="text" id="weiboId" ng-model="user.detail.weiboId"/>
          </div>

          <div class="form-group">
            <label class="control-label" for="nickname">微博账号：</label>
            <input class="form-control" type="text" id="nickname" ng-model="user.detail.nickname"/>
          </div>

          <div class="form-group">
            <label class="control-label" for="birthday">出生日期<span ng-show="user.detail.birthday">，当前年龄为{{user.detail.birthday | age }}</span></label>
            <input class="form-control" type="text" id="birthday" ng-model="user.date" placeholder="{{user.detail.birthday | date: 'yyMMdd'}}"/>
          </div>

          <div class="form-group">
            <label class="control-label" for="gender">性别</label>
            <select class="form-control" type="text" id="gender" ng-model="user.detail.gender"
                    ng-options="o.value as o.title for o in user.sex">
            </select>
          </div>

          <div class="form-group">
            <label class="control-label" for="height">身高</label>
            <input class="form-control" type="text" id="height" ng-model="user.detail.height"/>
          </div>

          <div class="form-group">
            <label class="control-label" for="location">城市区号<span ng-show="user.city">，当前城市为【{{user.city}}】</span></label>
            <input class="form-control" type="text" id="location" ng-model="user.detail.location"/>
          </div>

          <div class="form-group">
            <label class="control-label" for="description">个人描述</label>
            <textarea class="form-control" rows="3" id="description" ng-model="user.detail.description"></textarea>
          </div>

          <div class="form-group">
            <label class="control-label">照片</label>

            <div class="form-group input-group" ng-repeat="photo in user.detail.photos track by $index">

              <input disabled class="form-control" type="text" ng-model="photo"/>
              <span class="input-group-addon alert-danger" ng-click="user.removePhoto($index)"><i class="fa fa-minus"></i></span>
            </div>

            <div class="form-group input-group">
              <input class="form-control" type="text" ng-model="user.photo"/>
              <span class="input-group-addon alert-success" ng-click="user.addPhoto()"><i class="fa fa-plus"></i></span>
            </div>
          </div>
        </div>

        <div class="modal-footer">
          <button ng-click="user.delete(user.detail.id)" ng-hide="user.newbie" data-dismiss="modal"
                  class="btn btn-danger btn-delete"
                  type="button">
            <i class="fa fa-trash"></i>&nbsp;删除
          </button>
          <button data-dismiss="modal" class="btn btn-default" type="button">取消</button>
          <button ng-click="user.update(user.detail.id)" ng-hide="user.newbie" data-dismiss="modal"
                  class="btn btn-primary" type="button">
            <i class="fa fa-check"></i>&nbsp;更新
          </button>
          <button ng-click="user.save()" ng-show="user.newbie" data-dismiss="modal" class="btn btn-primary"
                  type="button">
            <i class="fa fa-check"></i>&nbsp;创建
          </button>
        </div>
      </ng-form>

    </div>
  </div>
</div>

